footer {
  background-color: #1b2023;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: 0%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 24px 80px;
  gap: 40px;

  a {
    display: flex;
    width: 0%;
    text-decoration: none;
    color: white;
  }

  .logo {
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
  }

  hr {
    background: #585d5f;
    border: none;
    height: 1px;
  }

  small {
    font-size: 12px;
  }

  .sections {
    width: 100%;
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      li {
        display: flex;
        width: 0%;
        list-style: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
