@import "../../styles/variables.scss";

header {
  background-color: $color-primary;
  padding: 24px 80px;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
  }

  .logo-container {
    width: 50%;
    display: flex;

    .logo {
      display: flex;
      gap: 8px;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
      align-items: center;
      fill: white;
      transition: 0.5s;

      &:hover {
        color: $color-grey-light;
        fill: $color-grey-light;
        transition: 0.5s;
      }
    }
  }

  .nav-bar {
    display: block;
    width: 100%;

    .menu-desktop {
      display: flex;
      font-weight: 600;
      gap: calc(33% - 80px);
      span {
        display: flex;
        text-wrap: nowrap;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          color: $color-grey-light;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  header {
    .logo-container {
      .logo {
        font-size: 20px;
        gap: 4px;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    padding: 24px 40px;
    .logo-container {
      .logo {
        font-size: 20px;
        gap: 4px;

        span {
          display: none;
        }
      }
    }

    .nav-bar {
      .menu-desktop {
        display: none;
      }
    }
  }
}
