header {
  background-color: #1b2023;
  padding: 24px 80px;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    width: fit-content;
  }

  .left-bar {
    width: 50%;
    display: flex;

    .logo {
      display: flex;
      gap: 8px;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
      align-items: center;
    }
  }

  .mid-bar {
    display: flex;
    gap: 80px;
    align-items: center;
    font-weight: 600;

    span {
      text-wrap: nowrap;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        color: #585d5f;
      }
    }
  }

  .right-bar {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;

    input {
      font-size: 16px;
      padding: 14px 20px;
      background-color: #585d5f;
      color: white;
      border: none;
      outline: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      &::placeholder {
        color: white;
      }
    }

    button {
      background-color: #585d5f;
      padding: 12px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: none;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        background-color: #44494b;
      }
    }
  }
}
