header {
  background-color: #1b2023;
  padding: 24px 80px;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
  }

  .left-bar {
    width: 50%;
    display: flex;

    .logo {
      display: flex;
      gap: 8px;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
      align-items: center;
    }
  }

  .mid-bar {
    .menu-desktop {
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 80px;
      span {
        text-wrap: nowrap;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          color: #585d5f;
        }
      }
    }
  }

  .right-bar {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;

    .search {
      border-radius: 28px;
      background-color: #585d5f;
      display: flex;
      input {
        font-size: 16px;
        background-color: transparent;
        padding: 12px 20px;
        color: white;
        border: none;
        outline: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 140px;
        transition: width 0.4s ease-in-out;

        &::placeholder {
          color: #cfcfcf;
        }

        &:focus {
          width: 200px;
        }
      }

      button {
        background-color: transparent;
        padding: 12px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          transition: 0.5s;
          background-color: #44494b;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  header {
    .left-bar {
      .logo {
        font-size: 20px;
        gap: 4px;
      }
    }

    .mid-bar {
      .menu-desktop {
        gap: 40px;
      }
    }
    .right-bar {
      .search {
        input {
          width: 112px;
          font-size: 12px;

          &:focus {
            width: 140px;
          }
        }

        button {
          padding: 8px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    .left-bar {
      .logo {
        font-size: 20px;
        gap: 4px;

        span {
          display: none;
        }
      }
    }

    .mid-bar {
      .menu-desktop {
        display: none;
      }
    }
    .right-bar {
      .search {
        background-color: transparent;
        input {
          background-color: transparent;
          display: none;
        }

        button {
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
