.pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px;

  .loading {
    display: flex;
    align-items: center;
    height: 100%;

    .dark-icon {
      stroke-width: 0.8px;
      stroke: #cfcfcf;
      width: 100%;
      height: 100%;
      stroke-dashoffset: 200;
      stroke-dasharray: 40;
      animation: iconanimation 4s linear infinite;
    }
  }

  @keyframes iconanimation {
    0% {
      stroke-dashoffset: 200;
    }

    80% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  .search-day {
    font-weight: 600;
    display: flex;
    align-items: center;

    .custom-date-picker-input {
      margin-left: 8px;
      border: solid 2px #060c0f;
      padding: 4px 8px;
      border-radius: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.5s;

      &:hover {
        background-color: #cfcfcf;
        transition: 0.5s;
      }
      .date-picker-input {
        background-color: transparent;
        border: transparent;
        color: #060c0f;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        width: 140px;

        &:focus {
          outline: none;
        }
      }
    }

    .calendar {
      font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
      border-radius: 24px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: none;
      font-size: 12px;
      position: relative;

      .react-datepicker__header {
        background-color: #1b2023;
        padding: 16px;
        font-size: 12px;
        border-radius: 24px;
        border-bottom: 1px solid #cfcfcf;
      }

      .react-datepicker__current-month {
        color: white;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
      }

      .react-datepicker__navigation {
        background: white;
        border-radius: 50%;
        align-items: center;
        margin: 12px;
        padding: 12px;
        border: none;
        z-index: 1;
        height: 24px;
        width: 24px;
      }

      .react-datepicker__navigation-icon:before {
        border-color: #1b2023;
        transition-duration: 0.5s;
      }

      .react-datepicker__navigation:hover *:before {
        border-color: #cfcfcf;
        transition: 0.5s;
      }

      .react-datepicker__navigation-icon {
        top: 1px;
      }
      .react-datepicker__navigation-icon--next {
        left: -1px;
      }
      .react-datepicker__navigation-icon--previous {
        left: 1px;
      }

      .react-datepicker__day-name {
        color: white;
        text-align: center;
        margin: 4px;
      }
      .react-datepicker__day {
        border-radius: 50%;
        margin: 4px;
        transition: 0.5s;
      }

      .react-datepicker__day--selected {
        border-radius: 50%;
        background-color: #1b2023;
        color: #ffffff;
        transition: 0.5s;
      }

      .react-datepicker__day--keyboard-selected {
        border-color: transparent;
        background-color: transparent;
        color: #1b2023;
        border-radius: 50%;
        transition: 0.5s;
      }

      .react-datepicker__day:hover {
        border-radius: 50%;
        background-color: #cfcfcf;
        color: #1b2023;
        transition: 0.5s;
      }

      .react-datepicker__day--disabled {
        cursor: default;
        color: #cfcfcf;
      }

      .react-datepicker__day--disabled:hover {
        background-color: transparent;
        color: #cfcfcf;
      }
    }
  }

  .picture-content {
    display: flex;
    gap: 80px;

    .picture-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 600px;
      h1 {
        font-size: 24px;
      }
    }

    .picture {
      width: 600px;
      height: auto;
      object-fit: cover;
    }
  }

  .previous-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

    .pics {
      display: flex;
      flex-wrap: wrap;
      width: 1292px;
      justify-content: space-between;

      .date {
        margin-bottom: 36px;
        h4 {
          color: #1b2023;
        }

        .previous-pic {
          padding: 4px;
          width: 256px;
          object-fit: cover;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 1420px) {
  .pictures-container {
    .picture-content {
      flex-direction: column;
      align-items: center;
      .picture-text {
        text-align: center;
        width: auto;
      }
      .picture {
        width: 800px;
      }
    }

    .previous-pics {
      .pics {
        width: 100%;
      }
    }
  }
}
